
table, th, td {
    border: 1px solid black;
 }


.table-headline{
    font-size: 120%;
    font-weight: bold;
}


.table-line{
    text-indent: 20px;
}

.table-sumline{
    font-style: italic;
}


.table-align-right{
    text-align: right;
}
